body {
	text-align: center;
	margin: 100px;
}

.button {
	background-color: black;
	border: none;
	color: white;	
}

#start {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#start.hover {
	background-color: #4CAF50; /* Green */
	color: white;
}

#status {
	background-color: gray;
}